<p style="color: green"><%= notice %></p>

<%= render @employee %>

<div>
  <%= link_to "Editar empleado", edit_employee_path(@employee) %> |
  <%= link_to "Volver a empleados", employees_path %>

  <%= button_to "Eliminar este empleado", @employee, method: :delete %>
</div>
