<%= form_with(model: assignment) do |form| %>
  <% if assignment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(assignment.errors.count, "error") %> prohibited this assignment from being saved:</h2>

      <ul>
        <% assignment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
  <label style="display: block">Empleado</label>
    <%# <%= form.label :employee_id, style: "display: block" %> 
    <%= form.select :employee_id, @employees.map { |employee| [employee.name, employee.id] } %>
  </div>

 
  <div>
  <label style="display: block">Proyecto</label>
    <%# <%= form.label :project_id, style: "display: block" %> 
    <%= form.select :project_id, @projects.map { |project| [project.name, project.id] } %>
  </div>

  <div>
  <label style="display: block">Carga de trabajo</label>
    <%# <%= form.label :workload, style: "display: block" %>
    <%= form.number_field :workload %>
  </div>

  <div>
    <%= form.submit %>
  </div>
  
  

  


<% end %>
